# Virtual environment
.venv/
venv/
*/venv/
*/.venv/
env/
*/env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Instance folder (contains secrets, DB)
/instance/

# Environment files
.env
.flaskenv

# Git files
.git/
.gitignore

# IDE files
.vscode/
.idea/

# OS-specific files
.DS_Store
*.pyc

# Build artifacts
dist/
build/
*.egg-info/
